.sticker {
    position: absolute;
    background-color: #BEF3CA;
    
    .border {
        position: relative;
    }
    
    .left-border {
        width: 6px;
        left: -3px;
        cursor: ew-resize;
    }
    .right-border {
      
        width: 6px;
        cursor: ew-resize;
    }
    .top-border {
        height: 6px;
        cursor:n-resize;
        
    }
    .bottom-border {
        height: 6px;
        cursor:n-resize;
    }
}
.text-input {
    position: absolute;
    background: transparent;
    box-sizing: border-box;
    margin-top: 7.5px;
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    left: 7px;
    outline: none;
    resize: none;
    border: none;
    font-family: Raleway, serif;
    color: black;
    font-weight: 600;    
    font-size: 1rem;

}