.sticker {
    position: absolute;
    background-color: #BEF3CA;
    
    .sticker-border {
        position: relative;
    }
    
    .left-border {
        width: 6px;
        left: -3px;
        cursor: ew-resize;
    }
    .right-border {
      
        width: 6px;
        cursor: ew-resize;
    }
    .top-border {
        height: 6px;
        cursor:n-resize;
        
    }
    .bottom-border {
        height: 6px;
        cursor:n-resize;
    }
}
