.kanban {
  position: absolute;
  width: calc(100% - 15px);
  height: calc(100% - 15px);
  left: 7px;
  margin-top: 7.5px;

  display: flex;
  flex-direction: row;

  .kanban-cols {
    border: 1px solid;
    flex-grow: 1;
    padding: 5px;
  }
}

.kanban-element {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;

  .btn {
    margin: 0;
    padding: 5px;
    img {
      height: 100%;
      width: 100%;
    }
  }
}