.kanban {
  position: absolute;
  width: calc(100% - 15px);
  height: calc(100% - 15px);
  left: 7px;
  margin-top: 7.5px;

  display: flex;
  flex-direction: row;

  .kanban-cols {
    margin-top: 35px;
    border: 1px solid;
    flex-grow: 1;
    padding: 5px;
  }
  .add-task {
    position: absolute;
    left: 0px;
    top: 0px;
    &:hover {
      background-color: white;
      border-radius: 3px;
    }
  }
  
  .add-task-input {
    position: absolute;
    left: 30px;
    top: 0px;
    background: none;
    border-bottom: 2px solid black;
    outline: none;
    box-shadow: none;
  }
}

.kanban-element {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;

  .btn {
    margin: 0;
    padding: 5px;
    img {
      height: 100%;
      width: 100%;
    }
  }
}