.checklist {
  position: absolute;
  width: calc(100% - 15px);
  height: calc(100% - 15px);
  left: 7px;
  margin-top: 7.5px;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .add {
    display: flex;
    flex-direction: row;
    .add-task {
      &:hover {
        background-color: white;
        border-radius: 3px;
      }
    }
    .add-task-input {
      margin-left: 10px;
    }
  }
  .todo {
    display: flex;
    flex-direction: row;
    align-items: center;
    .checkbox {
      width: 20px;
      height: 20px;
    }
    .todo-text {
      margin-left: 10px;
    }
    .done {
      text-decoration: line-through;
    }
  }
}
