.menubar {
    width: 100%;
    height: 50px;
    background-color: #A8BCF0;
    display: flex;
    flex-direction: row;
    align-items: center;

    .button {
        display: flex;
        align-items: center;
        height: 100%;
        
        padding: 0px 10px 0px 10px;
        
    }
    .button:hover {
        background-color: #CAD9FF;
    }
}
